@import "./base.css";

#app {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  /* background-color: #f7f7f7; */
}

a {
  text-decoration: none;
  color: #333;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-text-red);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}
